@import "tailwindcss";

#root {
  background-color: "#1f2020";
}

.custom-toast-progress {
  background: linear-gradient(to right, #eab308, #d97706) !important;
  height: 4px; /* Optional: adjust height if needed */
}

.Toastify__progress-bar--bg {
  background: #374151 !important; /* Dark gray instead of purple */
}

/* Add this to your global CSS file or Tailwind config */
@layer utilities {
  .scrollbar-hide {
    /* Firefox */
    scrollbar-width: none;
    /* Safari and Chrome */
    &::-webkit-scrollbar {
      display: none;
    }
  }
}